body {
    font-family: 'Orbitron', sans-serif;
    margin: 20px;
    padding: 0;
    background-color: rgba(238, 43, 43, 0.692);
}
h1 {
    color: #333;
}
h2 {
    color: #555;
}
p {
    color: #666;
}